# OAUTH (Github and Google, Only one required)
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# PAYMENT (Stripe)
STRIPE_SECRET_KEY=
STRIPE_ONE_TIME_PRICE_ID=
STRIPE_SUBSCRIPTION_PRICE_ID=
STRIPE_METERED_PRICE_ID=

# LLM AND EMBEDDING (NOVITA AI - OpenAI Compatible)
LLM_API_URL=https://api.novita.ai/v3/openai
LLM_API_KEY=
MODEL_CHOICE=meta-llama/llama-4-scout-17b-16e-instruct
MODEL_EMBEDDING=baai/bge-m3

# RAG
RERANKER_MODEL=rerank-multilingual-v3.0
COHERE_API_KEY=

USE_CONTEXTUAL_EMBEDDINGS=false
USE_HYBRID_SEARCH=false
USE_AGENTIC_RAG=true
USE_RERANKING=true

# SUPABASE
SUPABASE_URL=
SUPABASE_SERVICE_KEY=

# BROWSERLESS
BROWSERLESS_TOKEN=
BROWSERLESS_URL=

# LANGSMITH
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

# GENERAL
COOKIE_ENCRYPTION_KEY=
BASE_URL=http://localhost:8787